
body
{
	padding: 0px;
	margin: 0px;
}

.main
{
	width:auto;
	font-family: verdana;
	margin:auto;
}

#header
{
	float: left;
	width: 100%;
	height:auto;
    border:1px solid;
	background: linear-gradient(lightblue,lightgrey,lightgrey,lightblue);
	border-radius: 5px;
	position: fixed;
   z-index: 1;
 }

.logo
{
	width:80px;
	height:70px;
	float:left;
	padding-left:10px;
	padding-top: 25px;
}
.title
{
	float: left;
	width: 700px;
	height: 70px;
	font-family: Century Gothic;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 200px;
	text-align: center;
}
.search
{   margin-left:20px;
	padding-left: 215px;
	float: left;
	height: 70px;	
	width: 70px;
	display:inline-block;
}

#navigation
{
	float: left;
	width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color:#111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background: linear-gradient(lightblue,lightgrey,lightgrey,lightblue);
}

li.dropdown {
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
   background: linear-gradient(lightblue,lightgrey,lightgrey,lightblue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: linear-gradient(lightblue,lightgrey,lightgrey,lightblue);
}

.dropdown-content a:hover {background: linear-gradient(silver,lightgrey,lightgrey)}

.dropdown:hover .dropdown-content {
    display: block;
    
}











.content
{
	width: 100%;
	float:left;
	padding: 5px;
	background:linear-gradient(silver, lightgrey);
	margin-top: 130px;
	border-radius: 5px;
}

.first-div
{
	float: left;
	border-radius: 5px;
	width: 100%;
	height:500px;
	margin-bottom: 4px; 
}
.second-div
{
	width: 100%;
	float: left;
	border: solid;
	border-color: grey;
	border-radius: 5px;
	border-width: 1.5px;
	display:block;
	text-align: justify;
	background: #d4efdf;

}

.inner-div1{
background: linear-gradient(lightblue,lightgrey,lightgrey,lightblue);
height:250px;
text-align:center;
display:block;
font-size:15px;
}
.common{width:250px;
display:inline-block;
position:relative;
margin-left:15px;
}

.media-div{

	background: lightblue;
	float: left;
	border-radius: 5px;
	margin: 2px 0 0 0;
	width: 100%;
	height: 50px;
	
}
.social-media
{
	float:right;
	width:20%;
	padding-left: 5%;
	padding-top: 5px;
	height: 45px;
}
#footer
{
	height:310px;
	width: 100%;
	float:right;
	color: white;
	background: black;
	text-align: center;
	border-radius: 5px;
	margin-top:2px;
	border:1px solid;
}


.log
{
	width:400px;
	height:300px;
	float:left;
	padding-left:0px;
	padding-top: 25px;

}
  a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}


input{
	
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #111;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:white;

	width: 400px;
	padding: 18px;
	margin-bottom: :10px;
	

}
button{
	background:#111;
	border-color: #111;
	padding: 10px;
	color:white;
}
textarea{
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #111;
	box-shadow: 0 1px 0 0 #111;
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color: white;
    margin-top:10px;
    margin-bottom:10px;
	width: 400px;
	height:100px;
	padding: 18px;
    

}

.product-mahindra{

	width:auto;
	height:250px;
    background:#123;
    border:1px solid;
    border-radius: 5px;
    border-bottom-color: blue;
    color:white;
    text-align: center;
    margin-top:20px;
}
.common1{width:275px;
display:inline-block;
position:relative;
margin-left:35px;
}
.button-class{margin-left:20px;
background:blue;
margin-bottom: 10px;}
.second
{
	width: 100%;
	float: left;
	border: solid;
	border-color: grey;
	border-radius: 5px;
	border-width: 1.5px;
	display:block;
	text-align: justify;
	background: #d4efdf;
   height:400px;
}


.inner-div2{
background: linear-gradient(lightblue,lightgrey,lightgrey,lightblue);
height:300px;
text-align:center;
display:block;
font-size:15px;
}
.common2{width:300px;
display:inline-block;
position:relative;
margin-left:20px;
padding-right: 20px;
margin-top:20px;
}

.second1
{
	width: 100%;
	float: left;
	border: solid;
	border-color: grey;
	border-radius: 5px;
	border-width: 1.5px;
	display:block;
	text-align: justify;
	background: #d4efdf;
   height:1150px;
}
